@import 'https://fonts.googleapis.com/css?family=Prompt:300,500,900';

body {
    font-size: 16px;
    font-family: 'Prompt', 'Helvetica', sans-serif;
    box-sizing: border-box;
    background-image: url('img/hok-wav.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#main-nav-wrap {
    background-color: rgba(255,255,255,0.8);
    margin: 0;
    min-height: 100%;
    width: 15em; 
}

#main-nav {
    text-align: right;
    padding: 0.5em 1em 0.25em 0em;
    box-shadow: #DADFE1 10px 10px;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
}

#main-nav ul li  {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.25em;
    padding-bottom: 0.25em;
}

#main-nav ul li a {
    text-decoration: none;
    color: #DADFE1;
    transition: 0.15s;
}

#main-nav ul li:hover a {
    color: black;
}

#main-nav ul li:active a {
    color: #ea2c58;
}

#main-content-wrap {
    background-color: lightblue;
    min-height: 100%;
}